.app {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-container {
    border: 1px solid black;
    width: 850px;
    height: 850px;
    display: flex;
}

.bird {
    height: 162px;
    width: 236px;
    overflow: hidden;
    align-self: center;
}